<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@style/Theme.WallmartExample">
        <activity android:name="com.example.walmart.presentation.main.MainActivity" android:exported="true">
        </activity>
    </application>
</manifest>